@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sarabun', sans-serif;
}
.header{
    animation: header 0.3s ease-in-out;
    max-width: 1000px;
    width: 100%;
    padding: 10px 0 5px 0;
    margin: auto;
    display:flex;
    justify-content:space-around;
    align-items:center;

}
.header > img{
    height: 90px;
    width: 90px;
}
.menu ul,li,a{
    font-size: 1.05em;
    color: #000000;
    box-shadow: none;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 0 5px 0 5px;
}
.menu li{
    transition:ease-in-out 0.2s;
    border-bottom: 2px solid #35915e;
}
.menu li:hover{
    transition:ease-in-out 0.2s;
    border-bottom: 5px solid #35915e;
    font-size: 1.08em;
}
.top-container{
    animation: topcontainer 0.4s ease-in-out;
    width: 900px;
    display:flex;
    margin: 100px auto 0 auto;
    text-align: justify;
    font-size: 1.1em;
    padding: 10px;
}
.top-container > div > h1{
    text-align: center;
    margin-bottom: 0.5em;
    font-family: 'Sarabun', sans-serif;
}
.top-container > img{
    height: auto;
    width: 490px;
    margin-right: 25px;
    transition:ease-out 0.3s;
}
.top-container > img:hover{
    height: auto;
    width: 491px;
    margin-right: 25px;
    transition:ease-out 0.5s;
    cursor: pointer;
    border: 0.2em solid black;
    box-shadow: 13px 12px 1px 1px #3fab6f;
}
.mid-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(63,171,111);
    background: linear-gradient(90deg, rgba(63,171,111,0.8855917366946778) 0%, rgba(29,141,143,0.7903536414565826) 80%);
    padding: 0 400px 0 400px;
}
.mid-container > img{
    animation: meditar 3s ease-in-out infinite;
    height: 500px;
    width: 600px;
    margin: 30px 10px;
}
.form{
    animation: form 0.5s ease-in-out;
    background: linear-gradient(90deg, rgba(63,171,111,0.8855917366946778) 0%, rgba(255, 255, 255, 0.498) 0%);
    border-radius: 5px;
    box-shadow: 11px 8px 15px 5px rgba(0,0,0,0.21);
    font-size: 15px;
    padding: 30px;
    height: 300px;
}
.form > form > label{
    font-family: 'Sarabun',sans-serif;
    color: black;
    font-weight: bold;
}
.form > form > input{
    font-weight: bold;
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
    width: 300px;
    display: block;
    border: 1px solid #549472;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 4px;
}
.form > form > button{
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    background-color: #165b35;
    cursor: pointer;
    box-shadow: 11px 8px 15px 5px rgba(0,0,0,0.21);
}
.form > form > button:hover{
    background-color: #2ab86a;
}
.middle{
    animation: mid 0.4s ease-in-out;
    width:1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.middle > h1{
    margin: 100px auto 10px auto;
}
.middle > p{
    font-size: 1.1em;
    margin: 0 auto 50px auto;
}

.footer{
    margin-top: 60px;
    width: 100%;
    height: 200px;
    background-color: rgb(33, 30, 30);
    display: flex;
    color: #F4F4F4;
    justify-content: center;
}

.missao{
    padding: 10px;
    text-align:center;
}
.missao > nav{
    margin-top: 20px;
    font-size: 20px;
    text-align:center;
}

.missao > nav > span{
    color:#2ab86a;
    padding: 0 15px 0 15px;
}


.copyright{
    width: 100%;
    position: absolute;
    text-align: center;
    margin: 170px auto 0 auto;
}

.modal-active{
    background-image: url(../images/icons8-aprovação-96.png);
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 15px;
    height: 200px;
    position: absolute;
    top: 117%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:block;
    z-index: 2;
    background-color: #F4F4F4;
    text-align: center;
    padding: 100px 30px 100px 30px;
    font-size:20px;
    font-family: Nunito Sans, sans-serif;
    box-shadow: 11px 8px 15px 5px rgba(0,0,0,0.21);
}

@keyframes mid{
    0%{
        opacity: 0;
        transform: translateY(40px)
    }
    100%{
        opacity: 1;
        transform: translateY(0px)
    }
}
@keyframes header{
    0% {
        opacity: 0;
        transform: translateX(20px)
    }

    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}
@keyframes topcontainer{
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }

    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}
@keyframes meditar {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes form{
    0% {
        opacity: 0;
        transform: translateX(-50px)
    }

    100%{
        opacity: 1;
        transform: translateX(0px)
    }
}




